<div ng-controller="RegistryBrowseCtrl">

    <div class="col-md-8 col-s-12" ng-controller="RegistryRepositoriesCtrl">
        <div class="row" id="topfield">
            <div class="col-md-1">
                <button type="button" class="btn btn-primary btn-circle btn-small" ng-click="buildList()"><i class="fa fa-refresh"></i></button>
            </div>

        </div>
        <br/>
        <div class="row">
            <div class="repositoriesList" repositories-list=""></div>
        </div>
    </div>

</div>
