<div class="modal-content">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">x</span>
        <span class="sr-only" translate="CLOSE"></span>
    </button>
    <div class="modal-header">
        <h4 class="modal-title">
            {{ dialog.title }}
        </h4>
    </div>
    <div class="modal-body">
        <p>
            {{ dialog.text }}
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">{{ dialog.cancel }}</button>
        <button type="button" class="btn btn-default" ng-click="confirm()">{{ dialog.confirm }}</button>
    </div>
</div>
