development:
  # define all pre config ...
  # known keys: define_levels, format_as, backtrace, root
  pre_config:
    define_levels:
      - debug
      - info
      - warn
      - error
      - fatal
    format_as   : inspect
    root:
      level     : debug

    
  # define all loggers ...  
  loggers:
    - name      : root
      appenders : 
        - stdout
        - file

    - name      : ActiveRecord
      level     : warn
      
    - name      : ActiveSupport
      level     : warn

    - name      : Rails
      level     : info

  # define all appenders (incl. layouts)      
  appenders:

    - type          : Stderr
      name          : stderr 
      level         : debug
      layout:
        type        : Pattern
        color_scheme : bright
        pattern     : '[%d] %-5l %c : %m\n'
        

production:
  # define all pre config ...
  pre_config:
    define_levels:
      - debug
      - info
      - warn
      - error
      - fatal
    format_as   : inspect
    root:
      level     : info

  # define all loggers ...
  
  loggers:
    - name      : root
      appenders : 
        - syslog
        - file

    - name      : Rails
      level     : warn

  # define all appenders (incl. layouts)      
  appenders:
    - type          : Syslog
      name          : syslog
      level         : fatal
      layout        :
        type        : Basic
        format_as   : string
      
    - type          : Stderr
      name          : stderr 
      level         : info
      layout:
        type        : Basic
        format_as   : string

test:
  # define all pre config ...
  # known keys: define_levels, format_as, backtrace, root
  pre_config:
    define_levels:
      - debug
      - info
      - warn
      - error
      - fatal
    format_as   : inspect
    root:
      level     : debug

    
  # define all loggers ...  
  loggers:
    - name      : ActiveRecord
      level     : warn
      
    - name      : ActiveSupport
      level     : warn

    - name      : Rails
      level     : debug

  # define all appenders (incl. layouts)      
  appenders:
    - type          : Stderr
      name          : stderr 
      level         : debug
      layout:
        type        : Pattern
        color_scheme : bright
        pattern     : '[%d] %-5l %c : %m\n'
        

