<!DOCTYPE html>
<html ng-app="registryadmin" >
<head>

  <base href="<%= root_url %>">

  <script type="text/javascript">

    var docker_admin_host = '/api_mapper';

  </script>

  <title>DockerRedmineAuth</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ui-view></div>

</body>
</html>
